<!--- Base.html is never rendered. It's just used as the as base style of how
      all of our webpages. Our other webpgaes inherit from here. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--block title gets overwritten by the other html files-->
    <title>{% block title %} {% endblock%}</title>
    <!---Link to bootstrap https://getbootstrap.com/docs/5.2/getting-started/introduction/#quick-start -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Navbar taken from Tim's code. 
        https://github.com/techwithtim/Flask-Web-App-Tutorial/blob/main/website/templates/base.html 
        Removed the user variable as my code doesn't use the auth.py file. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/user">User</a>
        </div>
      </div>
    </nav>

    <!---
      The block content below gets overwritten by the block content
      configured in index backup.html and index.html without this code
      base.html will overwrite anything in the index html files and you
      will see nothing except what's setup in base.html
    -->
    <div class="container-fluid">{% block content %} {% endblock %}</div>

    <!---Link to bootstrap scripts https://getbootstrap.com/docs/5.2/getting-started/introduction/#quick-start-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
