{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}User Page{% endblock%}</title>
  </head>
  <body>
    <!--Code used to display flashed messages by looping through all of them-->
    {% block content %} {% with messages = get_flashed_messages() %} {% if
    messages %} {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %} {% endif %} {% endwith%}

    <!-- Create a form to obtain email from the user -->
    <form action="#" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        value="{{email if email}}"
      />
      <br />
      <input type="submit" value="submit" />
    </form>
    {% endblock %}
  </body>
</html>
